@import '_setting.scss';

.board-content {
    height:$board-content-height;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: $gap;
    
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 11px
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken($common-element-bg, 15);
        border-radius: 8px;
    }
    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .add-new-column {
        width: 250px;
        max-width: 250px;
        line-height: 32px;
        padding-left: 15px;
        cursor: pointer;
        color: #fff;
        margin-left: $gap;
        font-size: 15px;
        background-color: hsla(0, 0%, 100%, 0.24);
        border-radius: $column-border-radius;
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.34)
        }

        
    }
    .enter-new-column {
        width: 250px;
        max-width: 250px;
        line-height: 32px;
        background-color: $list-color;
        padding: 4px 10px;
        border-radius: $column-border-radius;
        margin-left: $gap;
        input.input-enter-new-column {
            margin: 5px 0;
            &:focus {
                border-color: $input-border-color ;
            }
        }
    }
}
